@import '../../sass/variable'; //Variable
@import '../../sass/mixin'; //Mixin
.mt-kv1 {
    padding: 0em 0 1em 8%;
    // background: rgba(0, 0, 0, 0.1);
    margin-bottom: 1em;
    position: relative;
    @include screen('tablet') {
        padding: 0em 0 1em;
    }
    &:after {
        position: absolute;
        content: ' - Copyright © 2021 Ministry of Economic Affairs All Rights Reserved. - ';
        transform: rotate(90deg);
        top: 2%;
        left: 7%;
        width: 32%;
        transform-origin: top left;
        color: #444;
        text-indent: -1em;
        padding-left: 1em;
        font-size: 0.875em;
        @include screen('tablet') {
            display: none;
        }
    }
    .container {
        max-width: 100%;
        padding: 0;
    }
    .kvSlider {
        width: 100%;
        &:hover {
            .slick-prev,
            .slick-next {
                opacity: 1;
                pointer-events: auto;
            }
        }
        .img-container {
            @include aspect-ratio(3, 1);
            position: relative;
            width: 100%;
            @include screen('tablet') {
                @include aspect-ratio(3, 2);
            }
            .caption {
                position: absolute;
                z-index: 3;
                left: 50%;
                top: 50%;
                width: 80%;
                transform: translate(-50%, -50%);
                &.left {
                    width: 80%;
                    h3,
                    p {
                        max-width: 400px;
                        text-align: left;
                        margin: 0 auto 0 0;
                    }
                    p {
                        width: 60%;
                    }
                }
                &.right {
                    width: 80%;
                    h3,
                    p {
                        max-width: 400px;
                        text-align: right;
                        margin: 0 0 0 auto;
                    }
                    p {
                        width: 60%;
                    }
                }
                h3 {
                    font-size: 2.5em;
                    text-align: center;
                    color: #fff;
                    margin: 0 auto 0.25em;
                    max-width: 600px;
                    text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.75);
                    @include text-line(3, 1.25em);
                    @include screen('xs_mobile') {
                        font-size: 1.75em;
                    }
                }
                p {
                    font-size: 1em;
                    text-align: center;
                    color: #fff;
                    margin: 0;
                    width: 80%;
                    max-width: 400px;
                    margin: 0 auto;
                    text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.75);
                    @include text-line(3, 1.45em);
                    @include screen('xs_mobile') {
                        width: 80% !important;
                    }
                }
            }
        }
        .slick-dots {
            bottom: -2em;
            right: 0%;
            left: calc(-4% - 15px);
            z-index: 1;
            @include screen('mobile') {
                left: 0;
            }
        }
        .slick-prev {
            opacity: 0;
            pointer-events: none;
            &:before {
                border: 5px solid #fff;
                border-top: none;
                border-right: none;
            }
            @include screen('mobile') {
                display: none !important;
            }
        }
        .slick-next {
            opacity: 0;
            pointer-events: none;
            &:before {
                border: 5px solid #fff;
                border-top: none;
                border-left: none;
            }
            @include screen('mobile') {
                display: none !important;
            }
        }
    }
}
