<!-- css -->
<link rel="stylesheet" href="components/mt-header/mt-header.css" />
<!-- html -->
<header class="mt-header">
    <div class="container">
        <!-- h1 logo -->
        <h1>
            <a href="#">
                <img src="images/mt_logo.png" alt="" />
            </a>
        </h1>
        <!-- nav導覽列 -->
        <nav class="mt-nav">
            <ul>
                <li><a href="#">Login</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Eng</a></li>
            </ul>
        </nav>
        <!-- 查詢按鈕 -->
        <div class="searchBtn">
            <a href="#">
                <i class="fas fa-search"></i>
            </a>
        </div>
        <!-- mt-search -->
        <div class="mt-search">
            <a href="#" class="close"><i class="fas fa-times"></i></a>
            <div class="searchBlock">
                <div class="searchForm">
                    <input type="text" value="" placeholder="Keywords" />
                    <button type="button"><i class="fas fa-search"></i></button>
                    <a href="#" class="adv_search">Advanced Search</a>
                </div>
                <!-- history -->
                <div class="history">
                    <ul>
                        <li><a href="#">keyword</a></li>
                        <li><a href="#">keyword</a></li>
                        <li><a href="#">keyword</a></li>
                        <li><a href="#">keyword</a></li>
                        <li><a href="#">keyword</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- mt-menu -->
        <div class="mt-menu">
            <ul>
                <li>
                    <a href="#">Why Taiwan</a>
                    <ul>
                        <li><a href="#">submenu</a></li>
                        <li><a href="#">submenu</a></li>
                        <li><a href="#">submenu</a></li>
                        <li><a href="#">submenu</a></li>
                        <li><a href="#">submenu</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Plan Your Event</a>
                    <ul>
                        <li><a href="#">submenu</a></li>
                        <li><a href="#">submenu</a></li>
                        <li><a href="#">submenu</a></li>
                        <li><a href="#">submenu</a></li>
                        <li><a href="#">submenu</a></li>
                    </ul>
                </li>
                <li><a href="#">Newsroom</a></li>
                <li><a href="#">Sustainability</a></li>
                <li><a href="#">Support & Service</a></li>
                <li><a href="#">Knowledge Reports</a></li>
            </ul>
        </div>
    </div>
</header>
<!-- JS -->
<script>
    $(function () {
        //search
        if ($('.searchBtn').length > 0) {
            var searchStatus = false;
            $('.searchBtn')
                .off()
                .click(function (e) {
                    if (!searchStatus) {
                        $('.mt-search').stop(true, true).addClass('open');
                        searchStatus = true;
                    }
                    e.preventDefault();
                });
            $('.mt-search')
                .find('.close')
                .off()
                .click(function (e) {
                    $('.mt-search').stop(true, true).removeClass('open');
                    searchStatus = false;
                    e.preventDefault();
                });
        }
        //menu Settings
        var _menu = $('.mt-menu');
        _menu.find('li').has('ul').addClass('hasChild');
        var liHasChild = _menu.find('li.hasChild');
        // 副選單滑出
        liHasChild.on({
            mouseenter: function () {
                $(this).children('ul').stop(true, false).fadeIn();
            },
            mouseleave: function () {
                $(this).parent().siblings('ul').hide();
                $(this).children('ul').stop(true, false).fadeOut();
            },
        });
    })
</script>