@import '../../sass/_variable'; //Variable
@import '../../sass/_mixin'; //Mixin
// mt-slider-col-1
.mt-slider-col-1 {
    min-height:400px;//500px
    padding: 1em 0;
    
    background: url(../../images/contanctUs_.png) no-repeat center top #fff;
    //background: url(../../images/contanctUs_.png) no-repeat center top #606060;
    background-position: center center ;
    position: relative;
    //background-size: cover;
    // background: url(../../images/mt-slider-grid.jpg) no-repeat center top #f3f3f3;
     //background: url(../images/inner_08_contanctUs.png) no-repeat center top #f3f3f3;
    // display: flex;
    // align-items: center;
    z-index: 0;
    &::before{
        content: '';
        position: absolute;
        width: 100%;
        top:0;
        bottom: 0;
        
        background:#f3f3f3;
        //background: #000;
        opacity: 0.7;
    }
    .container {
        padding: 2em 2em 1em;
        z-index: 2;
    }
    .slider-col-1 {
        // display: flex;
        // flex-flow: row wrap;
       
        .col {
            // flex-grow: 0;
            // flex-shrink: 1;
            // flex-basis: 25%;//30%;
            // min-width: 200px;
            // display: flex;
            // flex-flow: row wrap;
            // justify-content: flex-start;
            text-align: center;
            h2.mt-h2 {
                //color: #fff;
                color: #333;
                &:after {
                    // position: absolute;
                    // content: '';
                    // left: 0;
                    // margin-left: 0;
                    // height: 2px;
                   //width: 100px;
                background: $primaryColor;
                }
            }
            a.more {
                margin: 0 auto;
                 color: #333;
                //color: #fff;
                padding: 0.5em 3em;
                line-height: 2.5em;
                margin-top: 2.5em;
                height: 2.5em;
                display: flex;
                align-items: center;
            
                justify-content: center;
                border: 1px solid rgba(0, 0, 0, 0.5);
               //border: 1px solid #fff;
                &:before {
                    top: 1.15em;
                    width: 1.5em;
                    display: none;
                }
                &:hover,
                &:focus {
                    color: #fff;
                    border: 1px solid $primaryColor;
                    background: $primaryColor;
                    cursor: pointer ;
                }
            }
            p{
                font-size: 16px;
                margin-top: 2em;
                color:#333;
                font-weight: 500;
                //color: #fff;
                span{
                    display: block;
                    margin-bottom: 0.5em;
                }
            }
            // &:nth-child(1n) {
            //     flex-grow: 1;
            //     flex-shrink: 1;
            //     flex-basis: 50%;
            // }
        }
    }
}
