<!-- css -->
<link rel="stylesheet" href="components/mt-slider-col-1/mt-slider-col-1.css" />
<!-- mt-slider-col-1 -->
<div class="mt-slider-col-1">
    <div class="container">
        <div class="slider-col-1">
            <div class="col">
                <h2 class="mt-h2">
                    <span>Contact Us</span>
                </h2>
                <a href="#" class="more">
                    <span>mail</span>
                </a>
            </div>
            <div class="col">
                <h3>我們提供客制化服務， 請提供您規劃辦理活動之詳細資訊填妥回傳， 我們將有專人為您服務。</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam accusantium nulla hic sequi error
                    est, nisi nostrum quas ipsum dolore, nam atque maxime culpa sapiente mollitia voluptate a? Fugit,
                    dolore.</p>
            </div>
        </div>
    </div>
</div>