<!-- css -->
<link rel="stylesheet" href="components/mt-footer/mt-footer.css" />
<!-- html -->
<div class="mt-footer">
    <div class="footer">
        <div class="container">
            <div class="footer-info">
                <ul>
                    <li><a href="#">Site Map</a></li>
                    <li><a href="#">Useful Link</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Use</a></li>
                </ul>
                <p> phone：<a tel="+886-2-2725-5200">+886-2-2725-5200#1128</a> E-mail：<a
                        href="mailto:mpo@meettaiwan.com">mpo@meettaiwan.com</a>
                </p>
                <p>Copyright © 2021 Ministry of Economic Affairs All Rights Reserved.</p>
            </div>
            <div class="footer-icon">
                <ul>
                    <li>
                        <a href="#"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-line"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>