// 文章標籤
.mt-tag {
    @extend %clearfix;
    margin-bottom: 0.5em;
    position: relative;
    font-size: 0.875rem;
    padding-left: 2em;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    &:before {
        content: '';
        width: 16px;
        height: 16px;
        position: absolute;
        left: 0.65em;
        top: 0.5em;
        background: url(../images/basic/icon_tag.png) no-repeat center center;
        background-size: 16px;
    }
    a {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
        font-size: 0.938em;
        border: 1px solid #ddd;
        padding: 0.2em 0.75em;
        color: #333;
        max-width: 12em;
        @include text-overflow;
        &:hover,
        &:focus {
            background-color: $primaryColor;
            color: #fff;
            border: 1px solid $primaryColor;
        }
    }
}
