.mt-main-content {
    .container {
        display: flex;
        flex-flow: row nowrap;
        min-height: 20em;
        @include screen('mobile') {
            flex-flow: row wrap;
        }
        @include screen('xs_mobile') {
            padding: 0;
        }
    }
    .left_block {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 250px;
        padding: 0em 1em 0 0;
        will-change: min-height;
        @include screen('mobile') {
            flex-grow: 1;
            flex-basis: 100%;
            padding: 0;
            display: none;
        }

        .sidebar__inner {
            transform: translate(0, 0); /* For browsers don't support translate3d. */
            transform: translate3d(0, 0, 0);
            will-change: position, transform;
            padding-bottom: 10.5em;
        }
    }

    .center_block {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 50%;
        padding-bottom: 3em;
        @include screen('mobile') {
            flex-grow: 1;
            flex-basis: 100%;
        }
        .mt-page-title {
            background: rgb(1, 12, 22);
            background: linear-gradient(90deg, rgba(1, 12, 22, 0.9) 0%, rgba(12, 51, 85, 0.8533788515406162) 30%);
            min-height: 5em;
            padding: 1rem;
            max-width: 40em;
            font-size: 1.5em;
            color: #fff;
            text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.85);
            display: flex;
            flex-flow: row wrap;
            align-content: center;
            @include screen('xs_mobile') {
                max-width: 90%;
            }
            h2 {
                margin: 0 0 0.5rem 0;
                flex-basis: 80%;
                flex-grow: 1;
                @include text-line(2, 1.45em);
            }
            small {
                flex-basis: 80%;
                flex-grow: 1;
                @include text-overflow;
                color: #fff;
            }
        }
        .mt-content {
            background: #fff;
            padding: 1em 1.5em 5em;
            min-height: 50em;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            @include screen('xs_mobile') {
                padding: 1em 0.5em 10em;
            }
        }
    }
    .for-open-mobile-sidebar {
        max-width: 100%;
        width: 100%;
        padding: 0;
        display: none;
        @include screen('mobile') {
            display: flex;
            margin-bottom: 1em;
            .btn {
                display: block;
                width: 90%;
                margin: 0 auto;
                i {
                    margin-right: 0.5em;
                }
            }
        }
    }
    // album video
    .lp_album {
        .sheets {
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: 100%;
            display: block;
            text-align: right;
            padding: 0 1em;
            color: #888;
            margin: 0 0 0.5em;

            i {
                margin-right: 0.5em;
            }
        }
    }
    .lp_video,
    .lp_album {
        & > ul {
            @include li-reset;
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-centent: stretch;
            & > li {
                flex-grow: 0;
                flex-shrink: 1;
                flex-basis: 30.3333%;
                margin: 0 1.5% 2em;
                background-color: #fff;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                display: flex;
                flex-flow: row wrap;
                padding-bottom: 0.5em;
                align-content: flex-start;
                overflow: hidden;
                @include screen('tablet') {
                    flex-basis: 46%;
                    margin: 0 2% 2em;
                }
                @include screen('xs_mobile') {
                    flex-basis: 90%;
                    margin: 0 auto 2em;
                }
                .img-container {
                    width: 100%;
                    margin-bottom: 0.5em;
                    @include aspect-ratio(4, 3);
                    a {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        color: #333;
                        display: block;
                        padding-bottom: 1.5em;
                        transition: 0.3s $cubic;
                        &:hover,
                        &:focus {
                            img {
                                transform: scale(1.1);
                                opacity: 1;
                            }
                            h3 {
                                color: $aHover;
                            }
                        }
                    }
                    img {
                        object-fit: cover;
                        opacity: 0.8;
                        transition: 0.3s $cubic;
                    }
                    i {
                        position: absolute;
                        z-index: 2;
                        color: #c4302b;
                        transform: translate(-50%, -50%);
                        top: 50%;
                        left: 50%;
                        font-size: 4em;
                        &:after {
                            position: absolute;
                            content: '';
                            width: 30px;
                            height: 30px;
                            transform: translate(-50%, -50%);
                            top: 50%;
                            left: 50%;
                            z-index: -1;
                            background: #fff;
                        }
                    }
                }
                time {
                    flex-grow: 1;
                    flex-shrink: 1;
                    flex-basis: 80px;
                    margin: 0em auto 0em 1rem;
                    color: #777;
                    font-size: 0.813rem;
                    text-align: left;
                }
                h3 {
                    flex-grow: 0;
                    flex-shrink: 1;
                    flex-basis: 90%;
                    margin: 0.25em 1rem 1em;
                    @include text-line(2, 1.45em);
                    height: 2.9em;
                }
            }
        }
    }
    // QA
    .lp_qa {
        .topic_group {
            display: flex;
            flex-flow: row wrap;
            margin: 0 auto 2em;
            .topic_heading {
                flex-grow: 0;
                flex-shrink: 1;
                flex-basis: 15em;
                @include screen('mobile') {
                    flex-basis: 100%;
                }
                h3 {
                    font-size: 1.25em;
                    margin: 0;
                    position: relative;
                    overflow: hidden;
                    padding: 0.5em 3em 0.5em 1em;
                    &:after {
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 150%;
                        left: -20%;
                        top: 0;
                        transform: skew(-15deg);
                        background: $primaryColor;
                    }
                    span {
                        position: relative;
                        z-index: 2;
                        color: #fff;
                        line-height: 1.35em;
                    }
                }
            }
        }
        .topic_content {
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 40%;
            padding: 2em;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            @include screen('mobile') {
                padding: 1em;
            }
            & > ul {
                @include li-reset;
                & > li {
                    padding: 0.5em 2em;
                    background: #fff;
                    display: flex;
                    flex-flow: row wrap;
                    align-content: flex-start;
                    margin-bottom: 0.5em;
                    transition: 0.3s $cubic;
                    border-bottom: 1px solid #ddd;
                    &:last-child {
                        border: none;
                    }
                    @include screen('mobile') {
                        padding: 0.5em 1em;
                    }

                    .tag {
                        flex-grow: 1;
                        flex-shrink: 1;
                        flex-basis: 120px;
                        margin: 0;
                    }
                    .qa_content {
                        flex-grow: 1;
                        flex-shrink: 1;
                        flex-basis: 100%;
                        margin: 0 0 0.25em;
                        line-height: 1.5em;
                        font-size: 1.25em;
                        margin-top: 0.25em;
                        @include screen('mobile') {
                            flex-basis: 100%;
                        }
                        .q_block {
                            color: #111;
                            font-weight: bold;
                            font-size: 1.125em;
                            margin-bottom: 0.25em;
                            position: relative;
                            @include screen('xs_mobile') {
                                font-size: 1.25rem;
                                padding-left: 0;
                            }
                            a {
                                color: #111;
                                display: block;
                                position: relative;
                                padding: 0 2em;
                                &:after {
                                    position: absolute;
                                    content: '';
                                    width: 0.5em;
                                    height: 0.5em;
                                    transform: rotate(45deg);
                                    border: 2px solid #ccc;
                                    border-top: none;
                                    border-left: none;
                                    top: 0.4em;
                                    right: 0.5em;
                                }
                                &.open {
                                    &:after {
                                        transform: rotate(-135deg);
                                        top: 0.6em;
                                    }
                                }
                                &:before {
                                    position: absolute;
                                    content: 'Q:';
                                    top: 0;
                                    left: 0em;
                                    font-weight: bold;
                                    font-family: Helvetica;
                                    font-size: 1.5rem;
                                    color: $primaryColor;
                                }
                                &:hover,
                                &:focus {
                                    color: $primaryColor;
                                    &:before {
                                        color: $primaryColor;
                                    }
                                }
                            }
                        }
                        .a_block {
                            color: #666;
                            font-size: 0.938rem;
                            position: relative;
                            padding-left: 2.8rem;
                            display: none;
                            max-width: 90%;
                            @include screen('xs_mobile') {
                                max-width: 100%;
                                padding-right: 2em;
                            }
                            &:before {
                                position: absolute;
                                content: 'A:';
                                top: 0;
                                left: 0;
                                font-weight: bold;
                                font-family: Helvetica;
                                color: $secondaryColor;
                                font-size: 1.5rem;
                            }
                            img {
                                max-width: 60%;
                                min-width: 260px;
                                @include screen('xs_mobile') {
                                    min-width: 100px;
                                    max-width: 100%;
                                }
                            }
                        }
                    }
                    .update {
                        flex-grow: 0;
                        flex-shrink: 1;
                        flex-basis: 120px;
                        font-size: 0.813rem;
                        color: #666;
                        text-align: right;
                        white-space: nowrap;
                        padding-top: 0.5em;
                        @include screen('mobile') {
                            flex-basis: auto;
                            padding-top: 0.25em;
                            time {
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }
    }
}
