.mt-main-content {
    .sp_epaper {
        .subscribe {
            display: flex;
            justify-content: flex-end;
            position: relative;
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: 95%;
            overflow: hidden;
            background: #fff;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 27px -5px, rgba(0, 0, 0, 0.3) 0px 4px 16px -8px;
            margin: 1em 2.5% 2em;
            align-items: flex-start;
            align-content: flex-start;
            @include screen('tablet') {
                flex-flow: row wrap;
            }
            @include screen('xs_mobile') {
                max-width: 95%;
                margin: 0 auto 1em;
            }
            h3 {
                flex-grow: 1;
                flex-shrink: 1;
                flex-basis: auto;
                background: $primaryColor;
                align-self: stretch;
                margin: 0 1em 0 0;
                padding: 2em 1em;
                background: url(../images/epaper_title.jpg) no-repeat center center;
                background-size: cover;
                white-space: nowrap;
                position: relative;
                @include screen('tablet') {
                    flex-basis: 100%;
                    margin: 0;
                    text-align: right;
                }
                span {
                    position: relative;
                    color: darken($primaryColor, 10);
                    font-size: 1.5em;
                    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
                    z-index: 2;
                }
                &:after {
                    position: absolute;
                    content: '';
                    top: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    background: rgb(255, 255, 255);
                    background: linear-gradient(270deg, rgba(255, 255, 255, 1) 22%, rgba(255, 255, 255, 0) 100%);
                    z-index: 1;
                    display: none;
                    @include screen('tablet') {
                        display: block;
                        opacity: 0.7;
                    }
                }
            }
            .form_grid {
                margin: 0 auto;
                border: none;
                flex-grow: 0;
                flex-shrink: 1;
                flex-basis: 70%;
                padding: 3em 2em;
                @include screen('tablet') {
                    flex-basis: 100%;
                }
                .form_grp {
                    display: flex;
                    align-items: center;
                    .form_title {
                        label {
                            margin: 0;
                        }
                    }
                    .form_content {
                        .checkbox_grp {
                            display: flex;
                            label {
                                flex-grow: 0;
                                flex-basis: auto;
                                white-space: nowrap;
                            }
                        }
                        .datepick {
                            i {
                                &:before {
                                    width: 1.25em;
                                    height: 1.25em;
                                    top: 0.2em;
                                    margin-top: 0;
                                    opacity: 0.75;
                                }
                            }
                        }
                    }
                }
                .btn_grp {
                    button {
                        min-width: 10em;
                    }
                }
            }
        }
        .epaper_list {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            @include screen('xs_mobile') {
                padding: 0 1em 1em;
            }
            .item {
                flex-grow: 0;
                flex-shrink: 1;
                flex-basis: 28.3333%;
                margin: 0 2.5% 1em;
                @include screen('tablet') {
                    flex-basis: 45%;
                }
                @include screen('xs_mobile') {
                    flex-basis: 100%;
                    margin: 0 auto 2em;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
                }
                a {
                    position: relative;
                    display: block;
                    h3 {
                        font-size: 1em;
                        @include text-line(3, 1.5em);
                        color: #333;
                        position: relative;
                        @include screen('xs_mobile') {
                            width: 90%;
                            margin: 0 auto 2em;
                        }
                    }
                    .journal {
                        position: relative;
                        right: 0;
                        width: 8em;
                        background-color: rgba(0, 0, 0, 0.15);
                        color: #333;
                        padding: 0.25em;
                        text-align: center;
                        font-size: 0.813em;
                        margin: -3em 0 1.5em auto;
                        @include screen('mobile') {
                            width: 100%;
                        }
                        @include screen('xs_mobile') {
                            width: 8em;
                            margin: -4em 1.5em 4em auto;
                        }
                    }
                    time {
                        font-size: 0.875em;
                        color: #888;
                        display: block;
                        padding: 1em 0;
                        border-bottom: 1px solid $primaryColor;
                        @include screen('mobile') {
                            margin: 0 0 3em;
                            padding: 0;
                        }
                        @include screen('xs_mobile') {
                            width: 90%;
                            padding: 1em 0;
                            margin: 0 auto 1em;
                        }
                    }
                    &:hover,
                    &:focus {
                        h3 {
                            color: $aHover;
                        }
                        .img-container {
                            img {
                                transform: scale(1.1);
                            }
                        }
                    }
                }
                .img-container {
                    width: 100%;
                    margin: 0 auto 1em;
                    @include aspect-ratio(4, 3);
                    @include screen('xs_mobile') {
                        margin: 0 auto;
                    }
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: 0.3s $cubic;
                    }
                }
            }
        }
    }
    // 會員
    .sp_member {
        .btn_grp {
            margin: 1em 0 1.5em;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            @include screen('xs_mobile') {
                margin: 1.5em 0;
            }
            .btn {
                flex-grow: 1;
                flex-shrink: 1;
                flex-basis: 120px;
                max-width: 250px;
                height: 42px;
                color: #555;
                font-size: 1.125rem;
                padding: 0;
                margin: 0 0.25em 0.5em;
                font-weight: normal;
                @include screen('xs_mobile') {
                    flex-grow: 1;
                }
                &[readonly],
                &[disabled] {
                    background: lighten($primaryColor, 20);
                    border: 1px solid lighten($primaryColor, 20);
                    &:hover,
                    &:focus {
                        border: 1px solid lighten($primaryColor, 20);
                        background: lighten($primaryColor, 20);
                    }
                    &:active {
                        transform: translateY(0);
                    }
                }
            }
            .btn_submit {
                color: #fff;
                display: inline-block;
                background: $primaryColor;
                border: 1px solid $primaryColor;
                text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.45);
                &:hover,
                &:focus,
                &.btn_main {
                    background: $secondaryColor;
                    border: 1px solid $secondaryColor;
                    box-shadow: none !important;
                }
                &:active {
                    transform: translateY(3px);
                }
            }
        }
        .highlight {
            color: $color-yellow;
        }
        p.info {
            font-size: 0.813rem;
            color: #999;
            margin: 0;
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: 100%;
            padding-left: 2.5em;
            position: relative;
            i {
                position: absolute;
                top: 0.4em;
                left: 1em;
            }
        }
        p.error {
            font-size: 0.813rem;
            color: $color-red;
            margin: 0;
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: 100%;
            padding-left: 2.5em;
            position: relative;
            i {
                position: absolute;
                top: 0.4em;
                left: 1em;
            }
            a {
                color: lighten($color-orange, 0);
            }
        }
        .signup_block {
            width: 90%;
            min-width: 600px;
            min-height: 480px;
            display: flex;
            flex-flow: row nowrap;
            margin: 2em auto;
            align-items: flex-start;
            @include screen('tablet') {
                width: 100%;
            }
            @include screen('mobile') {
                flex-flow: row wrap;
                box-shadow: none;
                width: 90%;
                margin: 0 auto;
                min-width: 1em;
            }
            .signup_info {
                flex-grow: 0;
                flex-shrink: 1;
                flex-basis: 35%;
                background: url(../images/signup_img.jpg) no-repeat center center;
                background-size: cover;
                min-height: 30em;
                @include screen('mobile') {
                    display: none;
                }
            }
        }
        .signup {
            padding: 2em 3em;
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 50%;
            font-size: 0.875em;
            min-height: 40em;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 27px -5px, rgba(0, 0, 0, 0.3) 0px 0px 16px -8px;

            @include screen('xs_mobile') {
                box-shadow: none;
                padding: 2em 1em;
                order: 1;
            }
            .done {
                text-align: center;
                width: 80%;
                margin: 1em auto;
                img {
                    width: 40%;
                    min-width: 120px;
                    margin: 0 auto 1em;
                }
            }
        }
        .login_block {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 27px -5px, rgba(0, 0, 0, 0.3) 0px 0px 16px -8px;
            width: 90%;
            min-width: 600px;
            min-height: 480px;
            display: flex;
            flex-flow: row nowrap;
            margin: 2em auto;
            @include screen('tablet') {
                width: 100%;
            }
            @include screen('mobile') {
                flex-flow: row wrap;
                box-shadow: none;
                width: 90%;
                margin: 0 auto;
                min-width: 1em;
            }
            .login_info,
            .forget_info {
                flex-grow: 0;
                flex-shrink: 1;
                flex-basis: 55%;
                position: relative;
                padding: 1.5em 2em;
                background: url(../images/login_img.jpg) no-repeat center center;
                background-size: cover;
                color: #fff;
                text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
                @include screen('mobile') {
                    flex-basis: 100%;
                    order: 2;
                    min-height: 30em;
                }
                h3 {
                    line-height: 1.45em;
                    font-size: 1.75em;
                    br {
                        display: none;
                    }
                    a {
                        color: $color-yellow;
                        display: inline-block;
                        margin: 0 0.2em;
                        &:hover,
                        &:focus {
                            color: $aHover;
                        }
                    }
                }
                ul {
                    font-size: 0.875em;
                    li {
                        padding-left: 1.5em;
                        position: relative;
                        i {
                            position: absolute;
                            width: 1em;
                            height: 1em;
                            font-size: 0.5em;
                            left: 0;
                            top: 0.75em;
                        }
                        a {
                            color: salmon;
                            &:hover,
                            &:focus {
                                color: $aHover;
                            }
                        }
                    }
                }
            }
            .forget_info {
                background: url(../images/forget_img.jpg) no-repeat center center;
                background-size: cover;
            }
            .login {
                margin: 1em 0;
                padding: 2em 3em;
                flex-grow: 1;
                flex-shrink: 1;
                flex-basis: 50%;
                font-size: 0.875em;
                @include screen('xs_mobile') {
                    padding: 2em 0em;
                    order: 1;
                }
                .done {
                    text-align: center;
                    width: 80%;
                    margin: 1em auto;
                    img {
                        width: 40%;
                        min-width: 120px;
                        margin: 0 auto 1em;
                    }
                }
            }
        }
        .form_grid {
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: auto;
            border: none;
            .form_grp {
                border: none;
                padding: 0.5em 0 0.75em;
                @include screen('xs_mobile') {
                    flex-flow: row wrap;
                }
                .form_title {
                    flex-basis: 30%;
                    text-align: right;
                    margin: 0;
                    color: $primaryColor;
                    font-weight: bold;
                    @include screen('xs_mobile') {
                        flex-basis: 100%;
                        text-align: left;
                    }
                }
                .form_content {
                    align-items: flex-start;
                    position: relative;
                    .showPassword {
                        position: absolute;
                        right: 1em;
                        width: 2em;
                        top: 0.75em;
                        color: #888;
                        a {
                            color: #888;
                            display: block;
                            font-size: 1.25em;
                        }
                    }
                }
            }
            .form_style {
                position: relative;
                &.conform {
                    input[type='text'],
                    input[type='password'] {
                        padding-right: 3em;
                    }
                }
                i {
                    position: absolute;
                    right: 0.5em;
                    width: 2em;
                    top: 0.75em;
                    font-size: 1.25em;
                    color: $color-green;
                }
                input[type='text'],
                input[type='password'] {
                    flex-grow: 1;
                    flex-basis: 80%;
                    margin: 0;
                    height: 3em;
                    padding-left: 1em;
                    vertical-align: baseline;
                    &:focus,
                    &.used {
                        & + label {
                            top: -1.35em;
                            left: 0.5em;
                            font-size: 0.75em;
                            padding: 0.25em 0.5em;
                            background: #fff;
                        }
                    }
                }
                label {
                    position: absolute;
                    top: 0.7em;
                    left: 1em;
                    transition: 0.2s $cubic;
                    pointer-events: none;
                }
                input[type='password'] {
                    padding-right: 10em;
                }
            }
            .check_grp {
                flex-grow: 0;
                flex-shrink: 1;
                flex-basis: 100%;
            }
            .recaptcha {
                text-align: left;
                input {
                    marign: 0;
                }
            }
        }
        .upgrade {
            width: 90%;
            margin: 0 auto 1em;
            display: flex;
            flex-flow: row wrap;
            align-items: flex-start;
            h3 {
                flex-grow: 1;
                flex-shrink: 1;
                flex-basis: 90%;
                max-width: 90%;
                text-align: center;
                margin: 0 auto 1em;
            }
            .item {
                flex-grow: 0;
                flex-shrink: 1;
                flex-basis: 40%;
                margin: 0 5% 1em;
                padding: 3em;
                min-height: 30em;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
                @include screen('tablet') {
                    flex-grow: 1;
                    padding: 2em;
                    flex-basis: 45%;
                    margin: 0 2.5% 1em;
                }
                @include screen('mobile') {
                    flex-basis: 90%;
                    margin: 0 auto;
                }
                h4 {
                    font-size: 1.5em;
                    padding: 0 0 1em;
                    position: relative;
                    &:after {
                        position: absolute;
                        content: '';
                        width: 30%;
                        min-width: 100px;
                        height: 3px;
                        background: $primaryColor;
                        bottom: 0em;
                        left: 0;
                    }
                }
                p {
                    color: #555;
                    font-size: 0.938em;
                    line-height: 1.65em;
                }
            }
        }
    }
}
.mt-pop {
    h3 {
        text-align: center;
        font-size: 1.5em;
        line-height: 1.5em;
        padding-bottom: 1em;
        border-bottom: 2px solid $primaryColor;
    }
}
//steps
.mt-step {
    border-radius: 0.5em;
    width: 90%;
    margin: 0 auto 1em;
    ul {
        @include li-reset;
        display: flex;
        width: 100%;
        li {
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 30%;
            background: #eee;
            padding: 0.75em 2em;
            height: 70px;
            color: #555;
            position: relative;
            @include screen('mobile') {
                flex-grow: 1;
                flex-shrink: 1;
                flex-basis: 20%;
                padding: 0.75em 1em;
                span {
                    display: none !important;
                }
                &.now {
                    flex-basis: 60%;
                    display: block;
                }
            }
            &.active {
                background: $primaryColor;
                color: #fff;
                z-index: 3;
                & ~ .now {
                    background: lighten($primaryColor, 10);
                }
                &:after {
                    position: absolute;
                    content: '';
                    right: -14px;
                    top: 0;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 35px 0 35px 15px;
                    border-color: transparent transparent transparent $primaryColor;
                }
            }
            &:first-child {
                background: $primaryColor;
                color: #fff;
                z-index: 3;
                &:after {
                    position: absolute;
                    content: '';
                    right: -14px;
                    top: 0;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 35px 0 35px 15px;
                    border-color: transparent transparent transparent $primaryColor;
                }
                border-radius: 0.5em 0 0 0.5em;
            }
            &:last-child {
                border-radius: 0 0.5em 0.5em 0;
                &.active {
                    z-index: 1;
                    &:after {
                        display: none;
                    }
                }
            }
            &.now {
                span {
                    @include screen('mobile') {
                        display: block !important;
                    }
                }
            }
            &.active {
                .num {
                    color: #fff;
                }
                span {
                    color: #eee;
                }
            }
            .num {
                font-family: helvetica;
                width: 1.5em;
                height: 1em;
                font-size: 3em;
                float: left;
                text-align: center;
                font-weight: bold;
                display: flex;
                text-align: center;
                justify-content: center;
                align-items: center;
                @include screen('xs_mobile') {
                    width: 1.25em;
                    font-size: 2.5em;
                    color: #aaa;
                }
                &:after {
                    content: '.';
                }
            }
            span {
                display: block;
                margin-bottom: 0.25em;
                white-space: nowrap;
                overflow: hidden;
                @include screen('xs_mobile') {
                    font-size: 0.938rem;
                    margin-bottom: 0;
                }
                &.step_status {
                    font-size: 0.938em;
                    opacity: 0.8;
                    font-size: 0.875rem;
                }
            }
        }
    }
}
