@import '../../sass/_variable'; //變數
@import '../../sass/_mixin'; //Mixin
//http://lab.25sprout.com/responsive_table/
table {
    width: 100%;
    border-collapse: collapse;
    @include screen('xs_mobile') {
        width: 100%;
    }
    th,
    td {
        padding: 0.5em;
        text-align: left;
    }
    td {
        border: #ddd 1px solid;
        border-left: none;
        border-right: none;
        .num {
            display: block;
            text-align: center;
        }
        .mt-category {
            margin: 0;
        }
        .i_bookmark {
            display: block;
            text-align: center;
            color: lighten($primaryColor, 10);
        }
    }
    th {
        background-color: #f3f3f3;
        color: #333;
        border: #ddd 1px solid;
        text-align: center;
        white-space: nowrap;
        border-left: none;
        border-right: none;
    }
    tr {
        &.description {
            display: none;
            p {
                font-size: 0.938em;
                color: #666;
                padding: 1em;
                background: #f1f1f1;
                border-radius: 0.25em;
            }
        }
    }
    &.table_hover {
        tr:hover {
            background: #f3f3f3;
        }
    }
    &.table_sprite {
        tr:nth-child(even) {
            background: #f5f5f5;
        }
    }
}
