.mt-sidebar {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #f1f1f1;
  z-index: 98;
  transition: 0.3s ease-out;
  opacity: 0;
  pointer-events: none;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(0, 0, 0);
  padding: 200px; }
  .mt-sidebar.menuOpen {
    opacity: 1;
    pointer-events: auto; }
    .mt-sidebar.menuOpen .sidebarContent .mt-menu > ul > li {
      transform: translateX(0px);
      opacity: 1; }
      .mt-sidebar.menuOpen .sidebarContent .mt-menu > ul > li:nth-child(1) {
        transition-delay: 0.28s; }
      .mt-sidebar.menuOpen .sidebarContent .mt-menu > ul > li:nth-child(2) {
        transition-delay: 0.36s; }
      .mt-sidebar.menuOpen .sidebarContent .mt-menu > ul > li:nth-child(3) {
        transition-delay: 0.44s; }
      .mt-sidebar.menuOpen .sidebarContent .mt-menu > ul > li:nth-child(4) {
        transition-delay: 0.52s; }
      .mt-sidebar.menuOpen .sidebarContent .mt-menu > ul > li:nth-child(5) {
        transition-delay: 0.6s; }
      .mt-sidebar.menuOpen .sidebarContent .mt-menu > ul > li:nth-child(6) {
        transition-delay: 0.68s; }
      .mt-sidebar.menuOpen .sidebarContent .mt-menu > ul > li:nth-child(7) {
        transition-delay: 0.76s; }
      .mt-sidebar.menuOpen .sidebarContent .mt-menu > ul > li:nth-child(8) {
        transition-delay: 0.84s; }
      .mt-sidebar.menuOpen .sidebarContent .mt-menu > ul > li:nth-child(9) {
        transition-delay: 0.92s; }
      .mt-sidebar.menuOpen .sidebarContent .mt-menu > ul > li:nth-child(10) {
        transition-delay: 1s; }
      .mt-sidebar.menuOpen .sidebarContent .mt-menu > ul > li:nth-child(11) {
        transition-delay: 1.08s; }
      .mt-sidebar.menuOpen .sidebarContent .mt-menu > ul > li:nth-child(12) {
        transition-delay: 1.16s; }
      .mt-sidebar.menuOpen .sidebarContent .mt-menu > ul > li:nth-child(13) {
        transition-delay: 1.24s; }
      .mt-sidebar.menuOpen .sidebarContent .mt-menu > ul > li:nth-child(14) {
        transition-delay: 1.32s; }
      .mt-sidebar.menuOpen .sidebarContent .mt-menu > ul > li:nth-child(15) {
        transition-delay: 1.4s; }
  .mt-sidebar .sidebarContent {
    position: absolute;
    width: 86%;
    left: 7%;
    top: 100px;
    height: calc(100% - 150px); }
    .mt-sidebar .sidebarContent .mt-menu {
      width: 100%;
      transition: 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99); }
      .mt-sidebar .sidebarContent .mt-menu > ul {
        display: flex;
        justify-content: flex-start;
        flex-flow: row wrap; }
        .mt-sidebar .sidebarContent .mt-menu > ul > li {
          flex-grow: 1;
          flex-shrink: 1;
          flex-basis: 100%;
          margin-bottom: 1em;
          margin-top: 5px;
          transform: translateX(-60px);
          opacity: 0;
          transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99); }
          .mt-sidebar .sidebarContent .mt-menu > ul > li:nth-child(1) {
            transition-delay: 0.49s; }
          .mt-sidebar .sidebarContent .mt-menu > ul > li:nth-child(2) {
            transition-delay: 0.42s; }
          .mt-sidebar .sidebarContent .mt-menu > ul > li:nth-child(3) {
            transition-delay: 0.35s; }
          .mt-sidebar .sidebarContent .mt-menu > ul > li:nth-child(4) {
            transition-delay: 0.28s; }
          .mt-sidebar .sidebarContent .mt-menu > ul > li:nth-child(5) {
            transition-delay: 0.21s; }
          .mt-sidebar .sidebarContent .mt-menu > ul > li:nth-child(6) {
            transition-delay: 0.14s; }
          .mt-sidebar .sidebarContent .mt-menu > ul > li:nth-child(7) {
            transition-delay: 0.07s; }
          .mt-sidebar .sidebarContent .mt-menu > ul > li:nth-child(8) {
            transition-delay: 0s; }
          .mt-sidebar .sidebarContent .mt-menu > ul > li:nth-child(9) {
            transition-delay: -0.07s; }
          .mt-sidebar .sidebarContent .mt-menu > ul > li:nth-child(10) {
            transition-delay: -0.14s; }
          .mt-sidebar .sidebarContent .mt-menu > ul > li:nth-child(11) {
            transition-delay: -0.21s; }
          .mt-sidebar .sidebarContent .mt-menu > ul > li:nth-child(12) {
            transition-delay: -0.28s; }
          .mt-sidebar .sidebarContent .mt-menu > ul > li:nth-child(13) {
            transition-delay: -0.35s; }
          .mt-sidebar .sidebarContent .mt-menu > ul > li:nth-child(14) {
            transition-delay: -0.42s; }
          .mt-sidebar .sidebarContent .mt-menu > ul > li:nth-child(15) {
            transition-delay: -0.49s; }
          .mt-sidebar .sidebarContent .mt-menu > ul > li.hasChild > a:after {
            position: absolute;
            content: '';
            right: 0.5em;
            top: 0.45em;
            width: 0.25em;
            height: 0.25em;
            border: 2px solid #888;
            border-top: none;
            border-left: none;
            transform: rotate(45deg); }
          .mt-sidebar .sidebarContent .mt-menu > ul > li a {
            font-size: 1.25em;
            text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
            border-bottom: 1px solid rgba(0, 0, 0, 0.15);
            color: #333;
            display: block;
            line-height: 1.45em;
            position: relative; }
            .mt-sidebar .sidebarContent .mt-menu > ul > li a:hover, .mt-sidebar .sidebarContent .mt-menu > ul > li a:focus {
              color: #d92c9d; }
              .mt-sidebar .sidebarContent .mt-menu > ul > li a:hover:before, .mt-sidebar .sidebarContent .mt-menu > ul > li a:focus:before {
                left: -0.75em;
                opacity: 1; }
              .mt-sidebar .sidebarContent .mt-menu > ul > li a:hover small, .mt-sidebar .sidebarContent .mt-menu > ul > li a:focus small {
                color: #ddd; }
            .mt-sidebar .sidebarContent .mt-menu > ul > li a:before {
              position: absolute;
              content: '';
              width: 0.4em;
              height: 2px;
              background: #e352b2;
              left: -1.5em;
              top: 0.8em;
              opacity: 0;
              transition: 0.3s ease-out; }
            .mt-sidebar .sidebarContent .mt-menu > ul > li a span {
              margin-right: 1rem; }
          .mt-sidebar .sidebarContent .mt-menu > ul > li ul {
            margin: 0.5em 0 0 2em;
            display: none; }
          .mt-sidebar .sidebarContent .mt-menu > ul > li li {
            transition: none;
            transform: none;
            transition-delay: 0s;
            opacity: 1;
            margin: 0;
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 45%; }
            .mt-sidebar .sidebarContent .mt-menu > ul > li li a {
              border: none;
              font-size: 1rem;
              margin: 0 0 0.25em 0;
              padding: 0.2em 0;
              opacity: 0.8;
              line-height: 1.25em;
              border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
              .mt-sidebar .sidebarContent .mt-menu > ul > li li a:hover, .mt-sidebar .sidebarContent .mt-menu > ul > li li a:focus {
                color: #d92c9d;
                opacity: 1; }
    .mt-sidebar .sidebarContent .mt-nav {
      display: block;
      align-self: flex-start;
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: auto;
      position: relative;
      padding: 2em 0;
      border-top: 1px solid #ddd; }
      .mt-sidebar .sidebarContent .mt-nav:after {
        position: absolute;
        content: '';
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.25);
        bottom: -1em; }
      .mt-sidebar .sidebarContent .mt-nav ul {
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 100%;
        flex-flow: row wrap; }
        .mt-sidebar .sidebarContent .mt-nav ul li {
          flex-basis: 100%;
          padding: 0.15em;
          margin-bottom: 0.5em; }
          .mt-sidebar .sidebarContent .mt-nav ul li a {
            color: #555;
            padding: 0.25em 1em 0.25em 0em;
            text-align: left;
            border: 1px solid rgba(255, 255, 255, 0.25);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis; }
      .mt-sidebar .sidebarContent .mt-nav .languageBlock {
        right: 0;
        left: auto;
        width: 100%;
        min-width: 100%;
        display: none; }
        .mt-sidebar .sidebarContent .mt-nav .languageBlock li {
          padding: 0;
          margin: 0; }
        .mt-sidebar .sidebarContent .mt-nav .languageBlock a {
          border: none;
          padding: 0.5em 2em;
          display: block;
          font-size: 0.875em;
          color: #fff;
          background: rgba(0, 0, 0, 0.45); }
          .mt-sidebar .sidebarContent .mt-nav .languageBlock a.langBtn i {
            position: absolute;
            right: 0;
            top: 0.5em; }
          .mt-sidebar .sidebarContent .mt-nav .languageBlock a:hover, .mt-sidebar .sidebarContent .mt-nav .languageBlock a:focus {
            background-color: #55679f; }
/*# sourceMappingURL=mt-sidebar.css.map */